/*CSS document*/


/*————————————OVERARCHING INFORMATION————————————————————————*/

body {
    font-family: jaf-domus,sans-serif;
    font-weight: 340;
    font-style: normal;
    color: #131515;
    background-color: #FBFAF6;
}

main{
    padding: 1em; 
}

article {
    padding-left: 1em;
}

footer{
    margin-top: 1em;
}


div.container {
    max-width: 70em;
    margin: auto;
}

section{
    max-width: 40em;
    margin: 0 auto 3em;
}

aside{ /*Why does my aside default to centered? How can I change this*/
   padding: 1em; 
}




/*————————————NAV BAR INFORMATION————————————————————————*/

a{
    text-decoration: none;
}

a:hover {
    color:#AFD04E;
}

ul {
    list-style-type: none;
    padding: 0 1em;
    margin-bottom: 2em;
}

nav ul li {
    display: inline-block;
    line-height: 240%;
    border: 3px solid #283d3b;
    border-radius: 10px;
    margin-bottom: .5em;
    margin-right: .25em;
}


nav ul li a{
    display: inline;
    padding: .65em 0.75em;
    background-color: #283d3b;
    text-decoration: none;
    color: #FCFAFA;
}




/*————————————PARAGRAPH FORMATTING————————————————————————*/

p.blurb {
    font-family: jaf-domus,sans-serif;
    font-weight: 340;
    font-style: normal;
    color: #131515;
    padding-left: 1em;
    border-left: 3px solid #AFD04E;
}

p {
    font-family: jaf-domus,sans-serif;
    font-weight: 340;
    font-style: normal;
    color: #131515;
    font-size: 1em;
    line-height: 140%;
    
}

p.subsection{
    font-family: jaf-domus,sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #131515;
    font-size: 1.25em;
    line-height: 140%;
}






/*————————————TEXT HIERARCHY————————————————————————*/

h1 {
    width: 3.5em;
    margin:.5em;
    padding-top: 0.5em;
}

h2 {
    font-family: calder-dark, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #283d3b;
    
}

h3 {
    font-family: calder-dark, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #283d3b;
}

h3:hover {
    color:#AFD04E;
}

section.main-story a h3{
    font-size: 1.6em;
}

section.tertiary-story a h3 {
    font-size: 1em;
}




/*————————————IMAGES AND CAPTIONS————————————————————————*/

figure {
    margin: 0;
}

img {
    width: 100%;
}

img.thumbnail {
    width: 100%;
    border-radius: 20px;
}

img.main-blog-image {
    width: 100%;
    border-radius: 20px;
}

img.blog-image {
    width: 100%;
    border-radius: 20px;
    margin-top: 1em;
}




/*————————————MEDIA QUERY————————————————————————*/


@media screen and (min-width: 60em){
    
    div.container{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 0 1em;
    }
    
    header{
        grid-column: 1/3;
    }
    
    main{
        grid-column: 1/2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 1em;
    }
    
    
    section.main-story{
        grid-column: 2/4;
        grid-row: 1/3;
        display:flex;
        flex-direction:column;
        margin-left: 2em;
    }
    
    section.main-story figure{
        flex: 1 0 18em;
        display:flex;
        flex-direction: column;

    }
    
    section.main-story figure div{
        flex: 1 0 18em;
        background-image: url(shrubby-monkeyflower.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 20px;
    }
    
    section.main-story figure div img{
       height: 100%; 
       opacity: 0;
    }
    
    section.main-story figure figcaption{
        flex: 0 0 3em;
    }
    
    section.main-story h3{
        flex: 0 0 auto;
        margin 0;
    }
    
    section.main-story p.blurb{
        flex:0 0 auto;
        margin: 0;
        border-left: none; /*DECORATIVE*/
        padding-left: 0; /*DECORATIVE*/
    }
    
    
    aside{
        grid-column: 2/3;
    }
    
    aside.color-background{
        grid-column: 2/3;
        background-color: #AFD04E; /*DECORATIVE*/
        border-radius: 20px; /*DECORATIVE*/
        padding: 1em 2em 0 2em;
        margin-top: 1em;
    }
    
    section.tertiary-story a h3:hover{ /*DECORATIVE*/
    color: #FBFAF6; /*DECORATIVE*/
    }
    
    section.tertiary-story a p.blurb{
        border-left: none; /*DECORATIVE*/
        padding: 0 0 14px 0; /*DECORATIVE*/   
        border-bottom: 2px dashed #FBFAF6; /*DECORATIVE*/
    }
    
    h1{
        width: 4em; /*DECORATIVE*/
    }
    
    h2 {
        font-size:2em; /*DECORATIVE*/
    }
    
    footer{
        grid-column: 1/3;
    }
}


